/* Add this CSS to your ImageGallery.css file or a separate CSS file */

/* Define a keyframe animation for the scale effect */
@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  
  /* Apply the animation to the images when they are being dragged */
  .dragged-image {
    animation: scaleAnimation 0.3s ease-in-out forwards;
  }
  
  /* Default image size */
.image {
  width: 100%;
  height: auto;
}

/* Larger image size for index 0 */
.image-large-0 {
  width: 120%; /* You can adjust the size as needed */
  height: auto;
}

/* Larger image size for index 1 */
.image-large-1 {
  width: 120%;
  height: auto;
}

/* Define more classes for other indices if needed */
/* Style for the "Add Images" container */
.add-image-container {
  text-align: center; /* Center the content horizontally */
  padding: 20px; /* Adjust padding as needed */
  background-color: #f0f0f0; /* Background color */
  border: 2px dashed #ccc; /* Border style */
  border-radius: 10px; /* Rounded corners */
  color: #555; /* Text color */
  cursor: pointer; /* Show a pointer cursor on hover */
}

.add-image-container:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}
